body {
    font-family: sans-serif;
    margin-top: 60px;
}

.center {
    text-align: center;
}

.text-big {
    font-size: 300%;
}

.bold {
    font-weight: bold;
}

.img-medium {
    height: 200px;
}

 .container {
            padding-top: 60px;
            max-width: 800px;
            margin: 0 auto;
            color: rgba(74, 74, 74, 1);
            font-family: san-serif;
            padding-left: 20px;
            padding-right: 20px;
        }